<%- include ../head2.html %>
<!-- dataTables -->
<link rel="stylesheet" href="/css/plugins/datatable/TableTools.css">
<!-- dataTables -->
<script src="/js/plugins/datatable/jquery.dataTables.min.js"></script>
<script src="/js/plugins/datatable/TableTools.min.js"></script>
<script src="/js/plugins/datatable/ColReorder.min.js"></script>
<script src="/js/plugins/datatable/ColVis.min.js"></script>
<script src="/js/plugins/datatable/jquery.dataTables.columnFilter.js"></script>
<script src="/js/index.js"></script>
<body>
<style>
    #main{
        margin-left:0px;

    }
    .listicon{
        margin-left: 2%;
    }
    .theme-satgreen a{
        color:#368ee0;
    }
    .dataTables_wrapper .dataTables_length{
        min-width:0px;
    }
</style>

<div class="container-fluid" id="content">
    <!-- 左边菜单栏 -->

    <div id="main">
        <div class="container-fluid">
            <div class="page-header">
                <div class="pull-left">
                    <h1>菜单列表</h1>
                </div>
                <!-- 头部实时在线数 -->
                <%- include ../tags/headInfo.html %>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li>
                        <a href="/">盒子中心</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">菜单</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">列表</a>
                    </li>
                </ul>
                <div class="close-bread">
                    <a href="#"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered box-color ">
                        <div class="box-title">
                            <h3>
                                <i class="icon-table"></i>
                                菜单列表（ajax）
                            </h3>
                        </div>
                        <div class="box-content nopadding">

                            <table class="table table-hover table-nomargin dataTable table-bordered dataTable-scroller dataTable-tools">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>菜单名</th>
                                    <th>排序</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid" style="margin-top:1%">
                <div class="span12">
                    <p>
                        <a href="/menus/blank"  ><button class="btn btn-primary"><i class="icon-plus"></i>&nbsp;添&nbsp;&nbsp;加&nbsp;</button></a>
                        <a  href="#" onclick="deleteMenus()" target="menus_main"><button class="btn btn-primary"><i class="icon-remove"></i>&nbsp;删&nbsp;&nbsp;除&nbsp;</button></a>
                    </p>
                </div>
            </div>
        </div>
    </div></div>

<script>
    var TableAjax = function () {
        var oTable;
        return {

            //main function to initiate the module
            init: function () {

                if (!jQuery().dataTable) {
                    return;
                }
                // begin first table
                oTable= $('.dataTable').dataTable({
                //    "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
                    "aLengthMenu": [  //*{分页每页显示量}*
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, "All"] // change per page values here
                ],
             //   *{Ajax表单数据加载完成后的回调函数，例如，表单中的内容有需要渲染或者其他的js触发事件必须写在此处}*
                "fnInitComplete": function(oSettings, json) {
                //    App.initAjax();
                },
                "bProcessing": true,
                        "bServerSide": true,
                        "sAjaxSource": "/menus/ajaxlist",  // *{数据加载的方法名 服务端处理 "http://www.datatables.net/usage/server-side"}*
                // set the initial value
                "iDisplayLength": 10,
                    "oLanguage": {    // *{国际化 "http://www.datatables.net/usage/i18n"}*
                    "sEmptyTable": "没有数据",
                            "sInfo": "从第_START_条到第_END_条 总共_TOTAL_条",
                            "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;请稍等...', //*{正在加载时候提示条}*
                    "sLengthMenu": "_MENU_ 条",	 //*{分页每页的提示条}*
                    "oPaginate": {
                        "sPrevious": "上一页",
                                "sNext": "下一页"
                    }
                },
                "aoColumns": [
                    {
                        "mData": "_id",
                        "bSearchable":false,
                        'bSortable':false,
                        'mRender':function ( data, type, row ) {  // *{对列里每个值的内容渲染 data本列的内容，row本行的全部内容，数组}*
                            var html='<input type="checkbox" name="check_list" value='+data+' class="group-checkable" data-set="#sample_1 .checkboxes"/>'
                            return html;
                        }
                    },{   // *{列渲染 列的详细属性"http://www.datatables.net/usage/columns"}*
            "mData": "name",
                    "bSearchable":true
            //  'bSortable': false,  *{是否支持排序 默认支持 页面上排序，只会将显示在页面上的数据进行排序}*

        },{
            "mData": "sort" ,
                    "bSearchable":false,
                    'bSortable':true
        },{
            "mData": "flag" ,
                    "bSearchable":false,
                    'mRender':function ( data, type, row ) { //  *{对列里每个值的内容渲染 data本列的内容，row本行的全部内容，数组}*
                if(data==1)return "使用";
                return "停用";
            }
                    },
        {
            "mData": "_id",
                "bSearchable":false,
                'bSortable':false,
                'mRender':function ( data, type, row ) {  // *{对列里每个值的内容渲染 data本列的内容，row本行的全部内容，数组}*
            var html='<a href="/menus/show?id='+data+'" class="btn default btn-xs blue" style="margin-right: 5px;"><i class="fa fa-share"></i> 查看</a>'
            html+='<a href="/menus/edit?id='+data+'"  class="btn default btn-xs purple" style="margin-right: 5px;"><i class="fa fa-edit"></i> 编辑</a>'
            html+='<a href="/menus/remove?id='+data+'" class="btn default btn-xs black option_delete"><i class="fa fa-trash-o" style="margin-right: 5px;"></i> 删除</a>';
            return html;
        }
        }
        ]
    });
    },
    setUrl:function(url){
        var oSettings = oTable.fnSettings();// *{获取参数设置}*
        oSettings.sAjaxSource=url;
        oTable.fnDraw();
    },
    reload:function(){
        oTable.fnDraw();
    }

    };
    }();
    jQuery(document).ready(function() {

        TableAjax.init();

    });

    function deleteMenus() {
        var array =[];
        var flag;
        $("input[name='check_list']:checkbox").each(function(){
            if ($(this).prop("checked")) {
                flag = true; //只要有一个被选择 设置为 true
            }
        })
        if (flag) {
            $("input[name='check_list']:checkbox").each(function() { //遍历所有的name为selectFlag的 checkbox
                if ($(this).prop("checked")) { //判断是否选中
                    array.push($(this).val()); //将选中的值 添加到 array中
                }
            })
            var r=confirm("请确认是否删除数据，删除后数据无法恢复！");
            if(r==true){
                window.location.href = "/menus/removeCheck?info="+array;
            }
        } else {
            alert("请至少选择一个菜单。");
        }
    }
</script>

</body>
<%- include ../footer.html %>