<div class="header_line"></div>

<div class="initialization_bar">
    <div class="piont first on"><span>初始化</span></div>
    <div class="piont two"><span>连接网络</span></div>
    <div class="piont three"><span>绑定设备</span></div>
    <div class="piont four"><span>完成</span></div>
</div>

<div class="initialization_con_line clear">
    <div class="initialization_con clear">
        <img src="images/initialization.png" />
        <span>请确保</span>
        <i><em>·</em>本手机已通过WIFI接入Internet</i>
        <i><em>·</em>盒子上的WIFI指示灯常亮或闪烁</i>
        <i><em>·</em>当前WIFI工作频段为2.4G</i>
        <a href="#">指示灯不亮？&gt;</a>
    </div>
</div>

<div class="initialization_input">条件已满足</div>

<div class="initialization_input initialization_invite">使用邀请码</div>

<div class="initialization_input initialization_a"><a href="#">什么是邀请码？&gt;</a></div>

<div class="initialization_invite_line">
    <div class="tit">输入邀请码</div>
    <input type="text" class="input_text" />
    <input type="submit" class="input_submit" value="开始连接" />
</div>

<div class="mask"></div>
