<div class="header_line"></div>
<div class="more_list clear"  id="lfaaaa" ng-cloak>
    <ul ng-cloak>
        <li><a ng-click="setMenu('system')"><span class="iconfont">&#xe60f;</span>{{'systemTitle'|translate}}<i class="iconfont">&#xe620;</i></a></li>
    </ul>
    <ul  ng-cloak>
        <li><a ng-click="setMenu('boxMall')"><span class="iconfont">&#xe60d;</span>{{'vvboxsMall'|translate}}<i class="iconfont">&#xe620;</i></a></li>
        <li><a ng-click="setMenu('aboutus')"><span class="iconfont">&#xe60e;</span>{{'aboutus'|translate}}<i class="iconfont">&#xe620;</i></a></li>
        </ul>
    <ul>
        <li><a ng-click="setMenu('feedback')"><span class="iconfont">&#xe610;</span>{{'feedback'|translate}}<i class="iconfont">&#xe620;</i></a></li>
    </ul>
</div>

<div class="nav_line"></div>
