<div class="header_line"></div>

<div class="remind_tit">
    <div class="name">
        <img src="{{$state.aimg}}" />
        <span>
            <select class="boxselect" ng-change="changeBox()" ng-model="boxname" ng-options="x.number as x.name for x in $state.boxlists">
            </select> 
        </span>
        <!-- //ng-show='$state.boxlists.length>1' -->
        <div ng-show='$state.boxlists.length>1'><img style="height: 1.625em;
  margin-top: 0.5em;
  padding-left: 3em;" src="images/changebox.png" /><span>切换盒子</span></div>
    </div>
    <div class="tit">
        <ul>
            <li ui-sref-active="on"><a ui-sref="alert.yy">{{'alertDrug'|translate}}</a></li>
            <li ui-sref-active="on"><a ui-sref="alert.sh">{{'alertLife'|translate}}</a></li>
        </ul>
    </div>
</div>
<div ui-view style="position: absolute;width: 100%;">

</div>
