<div class="header_line"></div>
<script src="js/swiper/rufresh.js"></script>
<div class="swiper-container updown" style="height:100%">
    <div class="swiper-wrapper" style="background:#fff;margin-bottom: 3em">
        <div class="swiper-slide" >
            <div class="swiper-inner" style="background:#fff;height:100%">
                <div id="pullDown" class="pullDown" style="position: relative;">

                </div>
                <ul style="position: relative;margin-top: 135px;top:-100px" id="swiper-slide" example-directive="">
                </ul>
                <div id="pullUp" class="pullUp" style="position: relative;">
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .info_time {
        max-width: 6em;
    }
    .info_box .tit .voice img {
        padding-right: 6em;
    }
    .info_box .tit span{
        float: left;
    }
    .info_box .tit a {
        float:none;
        color: #a0a0a0;
        font-size: 0.71875em;
        line-height: 2.2em;
        padding-right: 1em;
        max-width: 56%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>

