<div class="header_line"></div>

<div class="initialization_bar">
    <div class="piont first "><span>{{'initialization'|translate}}</span></div>
    <div class="piont two "><span>{{'connectWiFi'|translate}}</span></div>
    <div class="piont three on"><span>{{'LinkDevice'|translate}}</span></div>
    <div class="piont four"><span>{{'Done'|translate}}</span></div>
</div>

<div class="initialization_con_line clear">
    <div class="initialization_con clear netsork">
        <img src="images/binding.png" />
        <img src="images/binding_loading.png" />
        <img src="images/network.png" />
        <i>{{'Devicelinking'|translate}}{{ssdian}}</i>
    </div>
</div>

<style>
    .initialization_con_line {
        margin-top: -1em;
        border: solid 0.05em #ddd;
    }
    .initialization_con{
        margin:0em auto 1.8125em;
    }
    .initialization_con img{
        padding-top: 1.5em;
    }
    .initialization_bar .piont span {
        height:2em;
        bottom:-2.3em;
    }
    .initialization_bar .on span { bottom:-2.3em;}
</style>