<div class="header_line"></div>

<div class="initialization_bar">
    <div class="piont first "><span>{{'initialization'|translate}}</span></div>
    <div class="piont two "><span>{{'connectWiFi'|translate}}</span></div>
    <div class="piont three "><span>{{'LinkDevice'|translate}}</span></div>
    <div class="piont four on"><span>{{'Done'|translate}}</span></div>
</div>

<div class="initialization_con_line clear">
    <div class="initialization_con clear netsork complete">
        <img style="padding-top: 1em;text-align: center" src="{{$state.boximage}}" />
        <span>{{'Successful'|translate}}</span>
       <!--   <i>正在获取盒子信息……</i>-->
    </div>
    <div class="remind_editor">
        <ul>
            <li>
                <div class="tit" style="width: 5.1739em;">{{'boxName'|translate}}</div>
                <div class="line"><input type="text" ng-model="name" class="input_text1 input_text" placeholder="{{'boxNameTitle'|translate}}" /></div>
            </li>
        </ul>
        <ul>
            <li>
                <div class="tit" style="width: 5.1739em;">{{'invitationcode'|translate}}</div>
                <div class="line"><input type="text" ng-model="boxNumber" class="input_text" readonly/></div>
            </li>
            <li class="remind_choose">
                <div class="tit" style="width: 5.1739em; margin-top: 2.2em;">{{'QRcode'|translate}}</div>
                <div class="line m_l">
                    <img id=”crcode“ style="width: 8em;height: 8em;" src="{{touxiang}}">
                </div>
            </li>
        </ul>
    </div>
</div>
<style>
    .box_img{
        background:black;opacity:0.8;
        position:fixed;
        width:100%;
        /*height: 100%;*/
        /*position: fixed;*/

    }
    /*.box_img2 .showline{*/
    /*margin-top: -2.25em;*/
    /*}*/
    .box_img2{
        margin-top: -36.1em;
        /*background:black;*/
        position:absolute;
        width:100%;
        /*height: 100%;*/
        /*position: fixed;*/

    }
    .box_img2 .enjoy_init{
        margin-top: 10.4125em;
    }
    .box_img2 img{
        width: 40%;
    }
    .remind_editor .line {
        margin-left: 6.45217em;
    }
    .line .input_text1{
        border: solid 0.1em #d7d7d7;
    }
    .complete span {
        text-indent:0em;
    }
    .initialization_input{
        margin: 0em 2.5714em 0;
    }
.initialization_con_line {
  margin-top: -1em;
  border: solid 0.05em #ddd;
}
.initialization_con img{
  padding-top: 1.5em;
}
.initialization_bar .piont span {
  height:2em;
  bottom: -2.3em;
}
.initialization_bar .on span { bottom:-2.3em;}
</style>
<div class="initialization_input"><a ng-click="savebox()">{{'Enjoy'|translate}}</a></div>

<div class="nav_line"></div>

<div class="box_img" ng-show="$state.showwifi5" style="margin-top: -48.5em;height:100%"></div>
<div class="box_img2" ng-show="$state.showwifi5">
    <div style=" ">请输入小盒名:</div>
    <div style="margin-left: 15%;margin-top: 2.3125em;">
        <img style="width:3em" src="images/arrow-up.png">
    </div>
    <div class="initialization_con_line clear">
        <div class="remind_editor">
           <ul>
              <li>
                <div class="tit" style="width: 5.1739em;">{{'boxName'|translate}}</div>
                <div class="line"><input type="text" ng-model="name" class="input_text1 input_text" placeholder="{{'boxNameTitle'|translate}}" /></div>
            </li>
            </ul>
        </div>
    </div>
    <div class="enjoy_init" style="margin-left: 15%;">
        <img style="width:3em" src="images/arrow-up.png">
    </div>
    <div class=" initialization_input"><a ng-click="savebox()">{{'Enjoy'|translate}}</a></div>
</div>

