<div class="header_line"></div>
<script src="js/swiper/rufresh.js"></script>
<input type="hidden" id="page" ng-model="data.page" value="1"/>
<input type="hidden" id="firstsize" ng-model="data.firstsize"/>
<input type="hidden" id="server" name="server"/>
<div class="inner" id="list_scroll" ng-style="mheight" style="overflow: auto;margin-top: 0.4em;">
    <ul id="historyRecord" style="padding-top: 1px;">
        <li ng-repeat="event in $state.events">
            <div class="info_time" id="{{event._id}}"><span style="width:auto">{{event.dateTime}}</span></div>
            <div class="info_box" ng-show="event.type==0">
                <div class="iconfont icon news">&#xe61b;</div>
                <div class="tit"><strong>{{"noEatTitle"|translate}}</strong><strong style=" float: right;">
                    {{"formTitle"|translate}}<a href="#/Info/{{event.boxNumber}}">{{event.boxName}}</a></strong></div>
                <div class="tit"><span>{{event.content}}</span></div>
            </div>
            <div class="info_box" ng-show="event.type==1">
                <div class="iconfont icon talk">&#xe61d;</div>
                <div class="tit"><strong>{{"Recording"|translate}}</strong><strong style="float: right;">
                    {{"formTitle"|translate}}<a href="#/Info/{{event.boxNumber}}">{{event.boxName}}</a></strong></div>
                <div class="tit">
                    <div class="voice openfile" ng-click="openfile(event.boxNumber,event.filepath,event.time,event._id)">
                        <i></i>
                        <img id="name_{{event._id}}" src="images/info_voice.png"/>
                    </div>
                    <div class="time">{{event.time}}''</div>
                </div>
                <div class="info_box" ng-show="event.type==2">
                    <div class="iconfont icon news">&#xe61c;</div>
                    <div class="tit"><strong>{{"noEatTitle"|translate}}</strong><strong style="  float: right;">
                        {{"formTitle"|translate}}<a href="#/Info/{{event.boxNumber}}">{{event.boxName}}</a></strong>
                    </div>
                    <div class="tit"><span>{{event.content}}</span></div>
                    <div class="pic" ng-show="event.image!=null"><a href="#"><img src="{{event.image}}"/></a></div>
                </div>
            </div>
            <div class="info_box" ng-show="event.type==3">
                <div class="iconfont icon talk">&#xe61b;</div>
                <div class="tit"><strong>{{"YYRecording"|translate}}</strong></div>
                <div class="tit"><span>{{event.content}}</span></div>
            </div>
        </li>
        <li class="info_box" style="border:none;text-align: center;background-color: #f0f0f0; padding-top: 2em"
            ng-show="$state.events.length<=0">{{nullR}}
        </li>
    </ul>

</div>
<!--<div class="swiper-container updown" ng-style="mheight">-->
<!--<div class="swiper-wrapper"style="background:#fff;margin-bottom: 3em">-->
<!--<div class="swiper-slide">-->
<!--<div class="swiper-inner" ng-style="mheight" style="background:#fff">-->
<!--<div id="pullDown" class="pullDown" style="position: relative;">-->
<!--</div>-->
<!--<example-directive></example-directive>-->
<!--<div id="pullUp" class="pullUp" style="position: relative;">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<style>
    .info_box .tit strong {
        max-width: none;
    }


    .info_time {
        max-width: 6em;
        width: auto;
    }

    .info_box .tit .voice img {
        padding-right: 6em;
    }

    .info_box .tit span {
        float: left;
    }

    .info_box .tit a {
        float: none;
        color: #a0a0a0;
        font-size: 0.71875em;
        line-height: 2.2em;
        padding-right: 1em;
        padding-left: 0.2em;
        max-width:none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .outer {
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .inner {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background-color: #f0f0f0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .dropload-up, .dropload-down {
        font-size: 0.8em;
        position: relative;
        background-color: #f1f1f1;
        height: 0;
        overflow: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        padding-bottom: 0;
    }

    .dropload-refresh, .dropload-update, .dropload-load {
        position: absolute;
        left: 35%;
        font-size: 0.8em;
        bottom: 0;
        width: 100%;
        height: 3em;
        line-height: 3em;
        text-align: center;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .dropload-load .loading {
        display: inline-block;
        font-size: 0.8em;
        height: 1em;
        width: 1em;
        border-radius: 100%;
        margin: 0.4em;
        border: 0.2em solid #666;
        border-bottom-color: transparent;
        vertical-align: middle;
        -webkit-animation: rotate 0.75s 0 linear infinite;
        animation: rotate 0.75s 0 linear infinite;
    }
    .info_box {
        margin: 0 0.5em 1.4em;
        border: solid 0.072em #e2e2e2;
        background: #fff;
        overflow: hidden;
        padding: 0.625em 0;
    }
</style>

<script>
    var my_media;
    var openindex = "";
    function openfile2(boxNumber, filepath, time, index){
        var server=$("#server").val();
        if (!my_media) {
            openindex = index;
            $('#name_'+ index).attr("src", "images/info_voice.gif");
            captureSuccess(filepath, time, index);
        } else {
            my_media.stop();
            if (openindex == index) {
                $('#name_'+openindex).attr("src", "images/info_voice.png");
                my_media = null;
            } else {
                $('#name_' + openindex).attr("src", "images/info_voice.png");
                $('#name_' + index).attr("src", "images/info_voice.gif");
                openindex = index;
                captureSuccess(filepath, time, index);
            }
        }
        function captureSuccess(filepath, time, index) {
            var i, len;
            //业务逻辑
            my_media = new Media(server + "/vv-box/" + boxNumber + "/" + filepath,
                    // success callback
                    function () {
                        //      alert("playAudio():Audio Success");
                    },
                    // error callback
                    function (err) {
                        //       alert("playAudio():Audio Error: " + err);
                    });
            my_media.play();
            if (time != null && time != "") {
                $timeout(function () {
                    $('#name_' + openindex).attr("src", "images/info_voice.png");
                }, time * 1000);
            } else {
                $timeout(function () {
                    $('#name_' + openindex).attr("src", "images/info_voice.png");
                }, 10000);
            }

        }
    }
</script>