<div class="header_line"></div>
<div class="remind_tit">
    <div class="name"><img src="images/box_02.png" /><span>爸爸的盒子</span></div>
    <div class="tit">
        <ul>
            <li class="on">用药提醒</li>
            <li>生活提醒</li>
        </ul>
    </div>
</div>

<div class="remind_list remind_list_h">
    <div class="pic"><img src="images/remind_red.png" /></div>
    <div class="tit">维生素【大孔】</div>
    <div class="content">8：00 / 12:00 / 19:00 每次1颗</div>
    <div class="talk"><span class="iconfont">&#xe611;</span></div>
</div>

<div class="remind_list remind_list_h">
    <div class="pic"><img src="images/remind_green.png" /></div>
    <div class="tit">维生素【大孔】</div>
    <div class="content">8：00 / 12:00 / 19:00 每次1颗</div>
    <div class="talk"><span class="iconfont">&#xe611;</span></div>
</div>

<div class="remind_list remind_list_h">
    <div class="pic"><img src="images/remind_yellow.png" /></div>
    <div class="tit">维生素【大孔】</div>
    <div class="content">8：00 / 12:00 / 19:00 每次1颗</div>
    <div class="talk"><span class="iconfont">&#xe611;</span></div>
</div>

<div class="remind_list">
    <div class="add"><span class="iconfont">&#xe61f;</span></div>
</div>
<div class="remind_remark">添加新的药物</div>
