
<div class="header_line"></div>

<div class="box_add_line clear">
    <div class="box_add_tit">添加配置你的第一个药盒吧！</div>
    <div class="box_add_list clear">
        <ul>
            <li><img src="images/box_01.png" /><i class="iconfont">&#xe621;</i></li>
            <li><img src="images/box_02.png" /></li>
            <li><img src="images/box_03.png" /></li>
            <li><img src="images/box_04.png" /></li>
        </ul>
    </div>
    <input type="submit" class="box_add_input" value="添加" ng-click="setView('')"/>
</div>



