<!--循环开始-->
<div class="header_line"></div>
<div class="info_time">12:00</div>
<div class="info_box">
    <div class="iconfont icon warning">&#xe61b;</div>
    <div class="tit"><strong>未吃药提醒</strong><a href="#">来自：爸爸的药盒</a></div>
    <div class="tit"><span>药物：维生素1颗</span></div>
</div>

<div class="info_time">12:00</div>
<div class="info_box">
    <div class="iconfont icon talk">&#xe61d;</div>
    <div class="tit"><strong>录音提醒</strong><a href="#">对象：爸爸的药盒</a></div>
    <div class="tit">
        <div class="voice"><i></i><img src="images/info_voice.png" /></div>
        <div class="time">18''</div>
    </div>
</div>

<div class="info_time">12:00</div>
<div class="info_box">
    <div class="iconfont icon news">&#xe61c;</div>
    <div class="tit"><strong>最新资讯</strong></div>
    <div class="tit"><span>药物混吃有没有问题?</span></div>
    <div class="pic"><a href="#"><img src="images/pic.jpg" /></a></div>
</div>

<!--循环结束-->
