<div class="header_line"></div>
<div class="more_list clear">
    <ul>
        <li><a href="#"><span class="iconfont">&#xe60a;</span>账号管理<i class="iconfont">&#xe620;</i></a></li>
        <li><a href="#"><span class="iconfont">&#xe60b;</span>健康档案<i class="iconfont">&#xe620;</i></a></li>
        <li><a href="#"><span class="iconfont">&#xe60c;</span>我的收藏<i class="iconfont">&#xe620;</i></a></li>
    </ul>
    <ul>
        <li><a href="#"><span class="iconfont">&#xe60d;</span>vv-box商城<i class="iconfont">&#xe620;</i></a></li>
        <li><a href="#"><span class="iconfont">&#xe60e;</span>关于我们<i class="iconfont">&#xe620;</i></a></li>
        <li><a href="#"><span class="iconfont">&#xe60f;</span>功能设置<i class="iconfont">&#xe620;</i></a></li>
        <li><a href="#"><span class="iconfont">&#xe610;</span>意见反馈<i class="iconfont">&#xe620;</i></a></li>
    </ul>
</div>
